<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h3>Kurs {{title}}</h3>
 
  <p>Dni tygodnia</p>

  <ul>
    <ng-container *ngFor="let day of days; let e = even">
      <li *ngIf="e">
        {{day}}
      </li>
    </ng-container>
  </ul>

  <div *ngIf="dogs.length > 0; then areDogs; else noDogs"></div>

  <ng-template #areDogs>
    <div *ngFor="let dog of dogs">
      {{dog.name}}, {{dog.age}}
    </div>
  </ng-template>
    
  <ng-template #noDogs>
    <p>Brak</p>
  </ng-template>

  <button (click)="addDogs()">Dodaj</button>
  <button (click)="removeDogs()">Usun</button>

</div>



