<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h3>Kurs {{title}}</h3>
 
  <p>Dni tygodnia</p>

  <div *ngFor="let day of days">
    <div [ngSwitch]="day">
      <div *ngSwitchCase="'Poniedzialek'">Montag</div>
      <div *ngSwitchCase="'Wtorek'">Dienstag</div>
      <div *ngSwitchCase="'Sroda'">Mittwoch</div>
      <div *ngSwitchCase="'Czwartek'">Donnerstag</div>
      <div *ngSwitchCase="'Piatek'">Freitag</div>
      <div *ngSwitchCase="'Sobota'">Samstag</div>
      <div *ngSwitchDefault>Sonntag</div>
    </div>
  </div>

</div>



