<h4>Reactive Form</h4>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div style="display: inline-grid">
    <label for="topic">Temat:</label>
    <input type="text" id="topic" formControlName="topic">
    <div *ngIf="contactForm.get('topic').invalid && contactForm.get('topic').dirty">Pole wymagane!</div>

    <label for="message">Wiadomość:</label>
    <textarea id="message" cols="30" rows="4" formControlName="message"></textarea>
    <div *ngIf="contactForm.get('message').invalid && contactForm.get('message').dirty">Pole wymagane!</div>
    <div *ngIf="contactForm.get('message').errors && contactForm.get('message').errors['minlength']">Za krotka wiadomosc</div>

    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name">
    <div *ngIf="contactForm.get('name').invalid && contactForm.get('name').dirty">Pole wymagane!</div>

    <label for="email">E-mail:</label>
    <input type="text" id="email" formControlName="email">
    <div *ngIf="contactForm.get('email').invalid && contactForm.get('email').dirty">Pole wymagane!</div>
    <div *ngIf="contactForm.get('email').errors && contactForm.get('email').errors['email'] && contactForm.get('email').dirty">Nieprawidłowy adres email</div>

    <label for="course">Ktory kurs jest najfajniejszy?</label>
    <select id="course" formControlName="course">
      <option *ngFor="let course of courses" [value]="course">{{course}}</option>
    </select>

    <div>
      <label for="bot">Jestes botem?</label>
      <input [value]="true" type="radio" id="bot" formControlName="bot">Tak
      <input [value]="false" type="radio" id="bot" formControlName="bot">Nie
    </div>

    <label for="">Czego chcesz się jeszcze nauczyc?</label>
    <div formArrayName="questions">
      <div *ngFor="let question of contactForm.get('questions')['controls']; let i = index">
        {{i + 1}}
        <input style="margin: 5px;" type="text" [formControlName]="i">
      </div>
      <button type="button" (click)="addQuestion()">Dodaj</button>
    </div>

    <button type="submit" [disabled]="contactForm.invalid">Wyślij</button>
    <button type="reset">Reset</button>


  </div>
</form>
